<!DOCTYPE HTML>
<!--
	Lens by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Lens by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		
		<%= stylesheet_link_tag 'main' %>
		<%= stylesheet_link_tag 'fontawesome-all.min' %>
		
		
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload-0 is-preload-1 is-preload-2">
  <%= yield %>

		

		<!-- Scripts -->
			<%= javascript_include_tag 'jquery.min.js' %>
			<%= javascript_include_tag 'browser.min.js' %>
			<%= javascript_include_tag 'breakpoints.min.js' %>
			<%= javascript_include_tag 'main.js' %>
			

	</body>
</html>